* {
  padding: 0;
  margin:0;
}

.wrapper {
  width: 1067px;
  font-family: 'OpenSans', sans-serif;
  margin: 0 auto;
  border:1px solid black;
  padding-bottom:50px;
}

/*HEADER*/
.header {
  margin-left: 50px;
  margin-top: 50px;
  color: 0;
}

.logo a {
  color: #2f2f2f;
  font-size: 38px;
  text-decoration: none;
}

.menu {
  box-sizing: border-box;
  width: 967px;
  margin-top: 40px;
  background: linear-gradient(#4a4a4a, #2e2e2e);
  font-size: 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.menu li {
  font-size: 14.85px;
  display: inline-block;
  margin: 0;
  padding: 15px 65px 15px 25px;
}

.menu li:hover {
  background-color: #434343;
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
}

/*SIDEBAR*/
.sidebar {
  float: left;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: -1px;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  padding:18px 23px 14px;
  margin-bottom: -1px;
  border: 1px solid #c8c8c8;
  width: 194px;
  font-size: 13.33px;
}

.sidebar a {
  text-decoration: none;
  color: #656363;
  margin:0;
  padding:0;
}

.sidebar li:hover {
  font-weight: bold;
  margin-bottom: -1px;
  padding-left: 36px;
  width: 181px;
}

/*CONTENT*/
.content {
  float:right;
  width: 675px;
  margin-top: 40px;
  margin-right: 50px;
}

.image {
  margin: 0 auto;
  border: 1px solid #c8c8c8;
  width:477px;
  margin: 0 auto;
  padding:50px 95px;
}

.text {
  padding: 40px 45px 40px 25px;
  font-size: 13.33px;
  line-height: 21.33px;
  color: #808080;
  text-align: left;
}

/*FOOTER*/
.footer {
  display: inline-block;
  background-color: #e1e1e1;
  width: 967px;
  clear: both;
  margin-left: 50px;
  font-size: 13.33px;

  }

.footer a {
  text-decoration: none;
  color: #2c2c2c;
  margin: 0;
  padding: 0;
}

.footer li {
  display: inline-block;
  padding: 15px 70px 15px 25px;
}

.footer li:hover {
  text-decoration: underline;
}

.footer_menu {
  float: left;
}

.footer_rights {
  float: right;
  padding: 15px 25px 15px 25px;
}
