* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  /*margin: 0 auto;*/
}

.wrapper {
  height: 100%;
  width: 910px;
  margin: 0 auto;
  font-size: 0;
}

/*HEADER*/
header {
text-align: center;
}

.main_line {
  margin: 10px 0 10px;
  box-sizing: border-box;
  vertical-align: middle;
}

.block {
  display: inline-block;
}

.tlf,
.login_to,
.three_icons {
  display: inline-block;
}

.number {
  position: relative;
  padding-left: 25px;
}
.number a {
  color: #5e696d;
  text-decoration: none;
  font-family: 'Arial', sans-serif;
  font-size: 18px;
}

.number::before {
  content: " ";
  display: inline-block;
  position: absolute;
  top: -2px;
  left: 0;
  height: 23px;
  width: 22px;
  background-image: url(../img/sprite_1.png);
  background-repeat: no-repeat;
}

.login_to {
  background: linear-gradient(#1f6685, #0d3458);
  margin-left: 20px;
  line-height: 33px;
  position: relative;
}

.log_icon {
  height: 21px;
  width: 23px;
  background-image: url(../img/sprite_1.png);
  background-repeat: no-repeat;
  background-position: -18px 0;
  position: absolute;
  left: 0;
  top: 4px;
}
.log_forms {
  font-size: 10.91px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  margin-left: 25px;
}

.login,
.password {
  width: 114px;
  height: 16px;
  margin-right: 9px;
}
.vhod a {
  border-right:1px solid #fff;
}

.vhod a,
.chek_in a {
  text-decoration: none;
  color: #fff;
  font-size: 10.91px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;

  line-height: 7px;
  padding: 0 5px 0 5px;
}

.fogot_pass a {
  color: #fff;
  font-size: 12px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  padding: 0 17px 0 11px;
}

.three_icons {
  border: 1px solid #c1c8cb;
  width: 77px;
  height: 22px;
  border-radius: 11px;
  margin-left: 17px;
}

.three_icons .block {
  height: 16px;
  width: 20px;
  background-image: url(../img/sprite_3.png);
  background-repeat: no-repeat;
}

.home {
  background-position: -3px 0;
}

.site_map {
  background-position: -26px 0;
}

.letter {
  background-position: -51px 0;
}

.image>img {
  width: 100%;
}

/*CONTENT*/
.menu {
  background-color: #151719;
  overflow: hidden;
  line-height: 35px;
  border-radius: 5px;
  margin-top: 5px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.75);
}

.menu::after {
  content: "";
  display: block;
  clear: both;
}

.menu ul {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #fff;
}

.menu_links {
  float: left;
  text-align: center;
  width: 74%;
  font-size: 13.64px;
  font-family: "lucida_sans_unicoderegular", sans-serif;
}

/*.menu_links a {
  padding: 0 17px 0 17px;
}*/


.menu_links li:first-child {
  margin-left: 94px;
}

.menu_links li:first-child a{
  padding: 0 8px 0 7px;
  letter-spacing: 0.2px;
}
.menu_links li:nth-child(2) a{
  padding: 0 11px 0 12px;
}

.menu_links li:nth-child(3) a{
  padding: 0 8px 0 21px;
}

.menu_links li:nth-child(4) a{
  padding: 0 22px 0 16px;
}
.menu_links li:nth-child(5) a{
  padding: 0 17px 0 4px;
}

.menu_links li {
  display: inline-block;
  text-align: center;
}

.menu_links li:hover {
  background: linear-gradient(#1f6787, #0d3458);
  border-radius: 15px;
  line-height: 30px;
}

.menu_items li {
  float:right;
  color: #fff;
  padding-left: 15px;
  font-size: 11px;
  font-family: "Arial", sans-serif;
}

.menu_items .basket {
  height: 23px;
  width: 2px;
  margin-top: 7px;
  background-image: url(../img/sprite_1.png);
  background-repeat: no-repeat;
  background-position: -37px 0;
  line-height: 35px;
}
.menu_items span {
  font-size: 12px;
  font-family: "Arial", sans-serif;
  color: rgb(13,90,143);

}
.menu_items li:first-child span {
  padding: 0 18px 0 9px;
}

.block_left,
.block_center,
.block_right {
  height: 135px;
  border: 1px solid #b6b6b7;
  border-radius: 18px;
  box-shadow: 2px 2px 7px 1px rgba(104, 104, 104, .75);
}

.block_left {
  width: 46%;
  float:left;
  margin-right: 1.5%;
}

.block_center {
  width: 21%;
  float: left;
  margin-right: 0.8%;
}

.three_blocks {
  margin: 11px 0 13px;

}

.block_right {
  width: 30%;
  float: right;
}

.three_blocks::after {
  content: "";
  display: block;
  clear: both;
}

.primary .left {
  float:left;
  margin-right: 10px;
  margin-top: 4px;
}

.primary::after {
  content: '';
  display: block;
  clear: both;
}

.catalog {
  height: 26px;
  width: 150px;
  border: 1px solid #8b979c;
  border-radius: 14px;
  font-size: 12.73px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  position: relative;
  color: rgb(145,158,173);
  line-height: 28px;
  padding-left:30px;
}

.catalog::before {
  content: ' ';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-image: url(../img/sprite_2.png);
  background-repeat: no-repeat;
  background-position: -2px 0;
}

.list ul {
  list-style-image: url(../img/marker_spisok.png);
}

.list div {
  height: 28px;
  width: 120px;
  border: 1px solid #8b979c;
  border-radius: 14px;
  font-size: 14px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  line-height: 28px;
  color: rgb(145,158,173);
  position: relative;
  padding-left: 30px;
}

.list div::before {
  content: ' ';
  width: 25px;
  height: 25px;
  position: absolute;
  top: 2px;
  left: 2px;
  background-image: url(../img/sprite_2.png);
  background-repeat: no-repeat;
  background-position: -28px 0;
}

.tires {
  margin-top: 13px;
}
.left .list ul {
  margin-left: 50px;
}

.list li a {
  font-size: 12.73px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  text-decoration: none;
  color: rgb(134,144,149);
  margin-left: -5px;
}

.list li a:hover {
  font-size: 12.73px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  font-style: italic;
  font-weight: bold;
  color: #0c3256;
  cursor: pointer;
}

main {
  float:left;
  background: linear-gradient(#e4e7e8, #94a7b0);
  width: 526px;
  height: 625px;
  text-align: center;
}

.goodyear,
.nokian,
.hankook {
  display: inline-block;
  text-align: center;
  margin-top: 17px;
}
.price {
  margin-bottom: 30px;
}

.goodyear,
.nokian {
  margin-right: 30px;
}

.name_brand {
  font-size: 14.59px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  color: #206988;
  line-height: 13px;
}

.type {
  font-size: 12.77px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  color: #1f2528;
  line-height: 15px;
}

.price {
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  color: #114165;
  font-weight: bold;
  font-style: italic;
}

figure div a {
  display: block;
  width: 137px;
  height: 127px;
  background-color: #fff;
  border-radius: 5px;
  background-image: url(../img/sprite_wheels.png);
  background-repeat: no-repeat;
}

.goodyear figure div a {
  background-position: 12px 0;
}
.nokian figure div a {
  background-position: -157px 0;
}
.hankook figure div a {
  background-position: -316px 0;
}

.primary .right {
  float:right;
  margin-top: 4px;
}

.right label {
  display: block;
  font-size: 12.73px;
  font-family: 'lucida_sans_unicoderegular', sans-serif;
  color: rgb(70,89,97);
  margin: 10px 0 12px;
  line-height: 15px;
}

.right .list form {
  margin-left: 10px;
}
.right input {
  margin-right: 16px;
}
.right .disks {
  margin-top: 20px;
}

.button input {
  height: 26px;
  width: 80px;
  border-radius: 13px;
  margin: 9px 0 0 10px;;
  background: linear-gradient(#1f6585,#0d3458);
  color: #fff;
  font-size: 11px;
  font-family: Arial, sans-serif;
}

.partners {
  width: 680px;
  height: 35px;
  margin: 0 auto;
  margin-top: 38px;

}

.partners span {
  display: inline-block;
  background-image: url(../img/logo_partners.png);
  background-repeat: no-repeat;
}

.tavo {
  width: 98px;
  height: 25px;
  background-position: 0 0;
}

.ridgestone {
  width: 97px;
  height: 25px;
  background-position: -100px 0;
}

.continental {
  width: 92px;
  height: 25px;
  background-position: -201px 0;
}

.cooper {
  width: 71px;
  height: 25px;
  background-position: -295px 0;
}

.avon {
  width: 85px;
  height: 25px;
  background-position: -369px 0;
}

.tire_factory {
  width: 70px;
  height: 30px;
  background-position: -456px 0;
}

.pirelli {
  width: 80px;
  height: 25px;
  background-position: -525px 0;
}
.dunlop {
  width: 78px;
  height: 25px;
  background-position: -606px 0;
}



/*FOOTER*/
footer {
  background-color: #213a4d;
  height: 100px;
  width: 100%;
  margin-top: 20px;
}

footer ul{
  text-align: center;
}

footer li {
  margin-top: 13px;
}

footer a {
  text-decoration: none;
  color: #fff;
  font-size: 12px;
  font-family: 'Arial', sans-serif;
  padding: 0 12px 0 12px;
  border-right: 2px solid #8d989f;
}

footer div {
  text-align: center;
  font-size: 10px;
  font-family: "Arial", sans-serif;
  margin-top: 18px;
  color: #7f4740;
}

footer li {
  display: inline-block;
}

footer a:hover {
  color: #52abcb;
}
