& {
    width: 70%;
    padding: rem(60) 0 rem(40);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    .container {
        display: flex;
        justify-content: space-between;
        width: 48.71%;

        .name {

            &__title {
            color: $red;
            text-transform: uppercase;
            font-size: rem(16);
            }
        }

        .list {

            &__title {
                padding-bottom: rem(20);
            }

            .menu {

                &__link {
                    padding-bottom: rem(15);

                    a {
                        text-decoration: none;
                        color: $black-light;
                        cursor: pointer;
                    }
                }
            }
        }

        .block {
            text-align: center;
            padding-bottom: rem(20);
        }
    }

    &__logo {
        text-align: center;
    }
}
