//VARIABLES COLORS
$color_body:  #f5f5f6;
$color_header: #2f332e;
$color_button: #5ed215;
$color_button-border: #1faa00;
$color_letters: #609233;
$color_cat: #7ac535;
$color_focus: #000;
$color_shadow: rgba(0, 0, 0, 0.8);
$color_network: #4d4d4d;
$color_titel: #404040;
$color_allfonts: #404040;
$color_footer: #2f332e;
$color_font-white: #fff;
$color_bg-checkbox: rgba(0, 0, 0, 0.05);
$color_links: #3189d6;

//VARIABLES fonts
$robotoRegular:'Roboto-Regular', 'Ariel', sans-serif, 'Tahoma', sans-serif;
$robotoMedium:'Roboto-Medium', 'Ariel', sans-serif, 'Tahoma', sans-serif;
$robotoBold:'Roboto-Bold', 'Ariel', sans-serif, 'Tahoma', sans-serif;
$ubuntu:'Ubuntu', 'Ariel', sans-serif, 'Tahoma', sans-serif;



@mixin clearfix {
            &:after {
              display: block;
              content: '';
              clear: both;
              visibility: hidden;
              height: 0;
            }
}
