@font-face {
	font-family: 'Helvetica Neue';
	src: url('../fonts/HelveticaNeue.eot');
	src: url('../fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeue.woff') format('woff'),
		url('../fonts/HelveticaNeue.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1064px;
}

.wrapper {
width: 100%;
height: 100%;
position: relative;
}

/*HEADER*/
header {
  width: 100%;
  height: 43px;
  background-color: #074f8e;
  overflow: hidden;
}

header::after {
  content:'';
  clear:both;
  display: block;
}

header ul {
  float: right;
}

header li {
  display: inline-block;
  list-style: none;
  margin-left: -5px;
}

header a {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: #53a4dd;
  line-height: 44px;
  font-size: 14px;
  padding: 0 10px 0 14px;
  font-family: 'Helvetica Neue','Tahoma', sans-serif;
  display: block;
}

header li a {
  display: inline-block;
}

header li:last-child {
  margin-right: 20px;
  background: linear-gradient(#4faedb, #2e7ac4);
  padding: 0 0 0 14px;
  color: #fff;
  font-size: 14px;
}

header li:last-child a {
  color: #fff;
  /*text-decoration: underline;*/
  padding: 0 8px 0 4px;
  font-size: 14px;
}

header li:nth-child(6) {
  padding-left: 30px;
}

header li:nth-child(-n+6):hover a {
  background-color: #4eabda;
  color: #fff;
}

.flagok {
  background-image: url(../img/Flag_icon.png);
  background-repeat: no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  left: 1141px;
  top: 10px;
}

.flagok_line {
height: 32px;
border-left: 1px solid #53a4dd;
position: absolute;
left: 1131px;
top: 5px;
}

.entrar a {
  color:#fff;
}

.entrar:hover a {
text-decoration: underline;
background: linear-gradient(#4faedb, #2e7ac4);
}

.cadastre_se a {
  color:#fff;
}

.cadastre_se:hover a {
text-decoration: underline;
background: linear-gradient(#4faedb, #2e7ac4);
}

/*CONTENT*/
.parrent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  overflow: auto;
}

.content {
  height: 630px;
  width: 560px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -315px 0 0 -280px;
  background-color: rgba(0,0,0,.63);
  color: #fff;
}

.content::after {
  content:'';
  clear:both;
  display: block;
}

.cadastre {
  width: 100%;
  height: 55px;
  text-align: center;
  border-bottom: 2px solid #bfc9b1;
}

.cadastre p {
  vertical-align: baseline;
  padding: 12px 0 20px;
  font-size: 24px;
  font-family: 'Helvetica Neue','Tahoma', sans-serif;
}

.fb {
  font: 0;
  margin: 30px 0 25px;
  overflow: hidden;
}

.fb a {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: 'Ariel', sans-serif;
  color: #fff;
}

.fb_icon {
  float: left;
  width: 35px;
  height: 35px;
  line-height: 35px;
  text-align: center;
  border-radius: 4px 0 0 4px;
  margin-left: 142px;
  background-color: #374f8f;
  border-right: 2px solid #223c77;
}

.fb_log {
  float:right;
  width: 239px;
  height: 35px;
  line-height: 35px;
  box-sizing: border-box;
  padding-left: 32px;
  border-radius: 0 4px 4px 0;
  margin-right: 142px;
  background-color: #374f8f;
  border-left: 2px solid #4b68ac;
}
.fb:after {
  content:'';
  clear:both;
  display: block;
}

.fb_icon p {
  font-size: 26px;
  font-weight: bold;
}

.fb_log span {
  font-weight: bold;
}
.fb_mark {
  padding-left: 15px;
  font-size: 16px;
}

.ou {
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.ou p {
  padding: 0 7px 0;
}

.ou_left,
.ou_right {
  border-top: 1px solid #666666;
  border-bottom:1px solid #000000;
  width: 120px;
  margin-top: 8px;
  }

.ou_left {
  margin-left: 142px;
  float:left;
}

.ou_center {
  font-size: 14px;
  font-family: 'Helvetica Neue','Tahoma', sans-serif;
  float:left;
}

.ou_center P {
  padding: 0 8px 0;
}

.ou_right {
  float:left;
}

.ou::after {
  content: '';
  clear: both;
  display: block;
}

.form {
  margin-bottom: 15px;
  width:276px;
  margin-left: 142px;
}

.form input {
  background-color: rgb(0,0,0);
  font-size: 14px;
  font-family: 'Helvetica Neue','Tahoma', sans-serif;
  color: #fff;
  padding: 12px 0 12px 20px;
  width: 256px;
  border: 0;
  border-bottom: 2px solid #666666;
}

.password {
  margin-bottom: 13px;
}

.checkbox {
  font-size: 14px;
  font-family: 'Helvetica Neue','Tahoma', sans-serif;
  width: 276px;
  margin: 22px 0 0 142px;
}

.button {
  margin: 23px 0 19px 206px;
}

.button input {
  font-size: 14px;
  font-family: 'Helvetica Neue','Tahoma', sans-serif;
  line-height: 16px;
  padding: 10px 14px 10px;
  border-radius: 3px;
  background: linear-gradient(#4faddb, #2e7ac4);
}

.form_input:focus {
  background-color: #1b5288;
  box-shadow: 0 0 9px 3px rgba(47,123,197,.77);
  border: none;
  outline: none;
  margin-bottom: 2px;
}

.form_footer {
  font-size: 11px;
  line-height: 16px;
  font-family: 'Helvetica Neue','Tahoma', sans-serif;
  width: 312px;
  margin-left: 123px;
  text-align: center;
}
