* {
  margin: 0;
  padding: 0;
}

html,
body {
  height:100%;
}

body {
  background-image: url('../img/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 880px;
  width: 960px;
  margin: 0 auto;
}

.wrapper {
  padding: 55px 68px 30px;
  box-sizing: border-box;
  display: table;
  height: 100%;
  font-size: 0;
}

/*HEADER*/
.header {
  width: 100%;
  padding-right: 15px;
  vertical-align: text-bottom;
  position: relative;
}

.logo {
  width: 48%;
  float: left;
}

.contacts {
  width:90px;
  color: #adadad;
  position: absolute;
  right: 30px;
  bottom: 20px;
  }

.header::after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.contacts div {
  text-align: left;
  font-family: 'Tahoma', sans-serif;
}

.contact_us {
  font-size: 10.16px;
  line-height: 18px;
}

.tlf,
.email {
  font-size: 8.47px;
  line-height: 8px;
}

/*CONTENT*/
.content {
  text-align: justify;
  display: table-row;
  height: 100%;
}

.block {
  display:inline-block;
  margin-right: 10px;
  margin-bottom: 55px;
}

.picture {
  border: 2px solid #888888;
}

.picture a {
  width: 260px;
  height: 170px;
}

.text {
  color: #cdcdcd;
  text-align: center;
  font-family: 'Tahoma', sans-serif;
  font-size: 15.24px;
}

/*FOOTER*/
.footer {
  color: #adadad;
  text-align: center;
  font-family: 'Tahoma', sans-serif;
  font-size: 10.16px;
}
