body {
  padding: 50px;
}

h1 {
  padding: 50px 0 20px;
}

h2 {
  text-decoration: underline;
}

.article {
  margin-bottom: 40px;
}

.container {
  outline: 4px double #000;
  width: 53%;
  padding: 15px;

}

.container img {
  display: block;
  margin: 0 auto;
  outline: 1px solid red;
}

input {
  height: 28px;
  width: 250px;
  border-radius: 3px;

}

input:focus {
  outline: 1px solid #000;
  border-radius: 3px;
}

.myBtn {
  padding: 9px;
  background-color: green;
  border-radius: 10px;
  color:#fff;
  cursor: pointer;
  outline: none;
}
