* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
}

/*HEADER*/

.header {
  background-image: url('../img/main_img.png');
  background-repeat: no-repeat;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

.header__logo {
  padding-top: 69px;
}

.header__logo>img {
  width: 100%;
  /*height: 100%;*/
}

.menu {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  color:#fff;
}

.header__menu {
  width: 245px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-top: 41px;
}

.menu__current {
  color:#fff;
  font-size: 24px;
}

.menu__current::after {
  content: " ";
  border-bottom: 2px solid #fff;
  display: inline-block;
  width: 45px;
  position: absolute;
  top: 70px;
  left: 100px;
}

.menu__list {
  list-style: none;
  margin-top: 41px;
  position:absolute;
  top: 0;
  left: 0;
  right: 0;
  display:none;
}
.menu__item {
  border-top: 2px solid #523f5a;
  border-bottom: 2px solid #36283e;
}

.menu__item:first-child {
  text-shadow: 0 0 25px rgba(255,255,255,.8);
}

.menu__link {
  text-decoration: none;
  color:#fff;


  line-height: 40px;
}

.menu__item:first-child {
  position: relative;
  border-top: none;
}

.menu__item:last-child {
  border-bottom: none;
}

.menu__item:first-child .menu__link::after {
  content: " ";
  border-bottom: 2px solid #edbfff;
  display: inline-block;
  width: 45px;
  position: absolute;
  top: 35px;
  left: 100px;

}

.header__menu:hover .menu__list {
  display: block;
  background-color: rgba(63,50,71,.85);
  border-radius: 8px;
  z-index: 10;
}


.menu__item:hover {
  border-bottom: 2px solid #edbfff;
  background-color: #2b2332;
}

.menu__item:first-child:hover {
  border-radius: 8px 8px 0 0;
  border-top: none;
}
.menu__item:last-child:hover {
  border-radius: 0 0 8px 8px;
}

.slider__list {
  width: 320px;
  margin: 0 auto;
  padding-top: 135px;
}

.slide__content {
  font-family: "League Gothic", sans-serif;
  margin: 0 auto;
  text-align: left;
  width: 207px;
  color: #fff;
}

.slide__heading {
font-size: 36px;
}

.slide__subtitel {
font-size: 18px;
}
.slide__description {
  display: none;
}

.button {
  width: 320px;
  margin: 0 auto;
  text-align: center;

}

.slider__button {
  padding: 82px 0 70px;
}

.button__item {
  width: 15px;
  height: 15px;
  background-color: #69646f;
  border-radius: 50%;
}

.button__item--active {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius:50%;
}
.slider {
  position: relative;
}

.slider__control {
  position: absolute;
  width: 37px;
  height: 39px;
  background-image: url("../img/sprite_arrows.png");
  background-repeat: no-repeat;
}

.slider__control--prev {
  left: 840px;
  top: 145px;
}

.slider__control--next {
  right: 840px;
  top: 145px;
  background-position: -46px 0;
}

/*about*/

.about {
  background-image: -webkit-linear-gradient(#745083, #33263a);
  background-image: -o-linear-gradient(#745083, #33263a);
  background-image: linear-gradient(#745083, #33263a);
  color:#fff;
}

.about__container {
  width: 320px;
  margin: 0 auto;
  padding-top: 95px;
}
.lemma__wrapper {
  width: 206px;
  text-align: left;
  margin: 0 auto;
}

.wrapper__heading {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  position: relative;
}

.wrapper__heading::before {
  content: ' ';
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: -43px;
  background-image: url('../img/sprites_header.png');
  background-repeat: no-repeat;

}

.wrapper__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.wrapper__link {
  font-family: "League Gothic", sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.wrapper__label {
  padding: 24px 0 30px;
  text-align: right;
}

.wrapper__label--middles {
  padding-bottom: 45px;
}
.wrapper__label--latest {
  padding-bottom: 69px;
}

.wrapper__link:hover {
  text-shadow: 0 0 9px rgba(255,255,255,.8);
}

/*main*/
.main {
  background-color: #f9f9f9;
}

.main__container {
  width: 320px;
  padding-top: 100px;
  margin: 0 auto;
}

.blog {
  color: #454545;
  width: 257px;
  text-align: left;
  margin: 0 auto;
  background-color: #fff;
}

.blog__name {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  width: 206px;
  margin: 0 auto;
  position: relative;
}

.blog__name::before {
  content: ' ';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: -62px;
  background-image: url('../img/sprite_1.png');
  background-repeat: no-repeat;
  background-position: -72px -7px;
}

.blog__start-here {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  color:#edbfff;
  width: 206px;
  margin: 0 auto;
}

.blog__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 192px;
  margin-left: 24px;
  text-align: left;
}

.blog__button {
  width: 160px;
  padding: 60px 0 53px;
}

.posts {
  width: 285px;
  color: #454545;
}

.posts__heading {
  font-family: "League Gothic", sans-serif;
  font-size: 30px;
padding-bottom: 28px;
}

.posts__subtitel {
  font-family: "Open Sans Extrabold", sans-serif;
  font-size: 16px;
  padding-left: 60px;
  position: relative;
}

.posts__subtitel::before {
  content: ' ';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 2px;
  background-image: url('../img/sprite_1.png');
  background-repeat: no-repeat;
  background-position: -150px -7px;
}

/*.posts__subtitel--middle {
  background-position: -150px -7px;
}
.posts__subtitel--down {
  background-position: -150px -7px;
}*/

.posts__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-left: 60px;
  padding-bottom: 30px;
}

.list {
  font-family: "League Gothic", sans-serif;
  font-size: 30px;
  text-align: right;
  padding-bottom: 144px;
}
.list__link {
  text-decoration: none;
  color: #454545;
}

.list__text--screen-big {
  display: none;
}

.partners {
  text-align: justify;
  width: 240px;
  margin: 0 auto;
}

.partners__link {
  display: inline-block;
  margin:0  22px 56px 0;
}

.trademark {
  display: inline-block;
  width: 72px;
  height: 68px;
  background-image: url('../img/sprite_logo.png');
  background-repeat: no-repeat;
  background-position: -14px -10px;
}

.partners__bllabong {
  background-position: -14px -10px;
}

.partners__dg {
  background-position: -138px -10px;
}

.partners__logo3 {
  background-position: -249px -10px;
}

.partners__awsm {
  background-position: -367px -9px;
}

.partners__rvc {
  width: 106px;
  height: 68px;
  background-position: -474px -9px;
}

.partners__vonzipper {
  width: 85px;
  height: 68px;
  background-position: -630px -9px;
}

/*news*/

.news {
  display: none;
}

/*footer*/

.footer {
  background-image: url('../img/background_footer.png');
  background-repeat: no-repeat;
}

.footer__designed {
  width: 320px;
  margin: 0 auto;
  padding: 43px 0 149px;
}
.footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #fff;
}
