* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden;
}

/*HEADER*/
.header {
  background-image: url('../img/main_img.png');
  background-repeat: no-repeat;
  background-position: center, top;
  background-size: cover;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

.header__logo {
  padding-top: 69px;
}

.header__menu-line {
  display: none;
}

.menu {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  color:#fff;
}

.header__menu {
  max-width: 245px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  padding-top: 41px;
}

.menu__current {
  color:#fff;
  font-size: 24px;
  border-bottom: 2px solid #edbfff;
  width: 47px;
  margin: 0  auto;

}

.menu__list {
  list-style: none;
  margin-top: 41px;
  position:absolute;
  top: -7px;
  left: 0;
  right: 0;
  display:none;
}

.menu__item {
  border-top: 2px solid #523f5a;
  border-bottom: 2px solid #36283e;
}

.menu__item:first-child {
  text-shadow: 0 0 25px rgba(255,255,255,.8);
}

.menu__link {
  text-decoration: none;
  color:#fff;
  line-height: 40px;
}

.menu__item:first-child {
  position: relative;
  border-top: none;
}

.menu__item:last-child {
  border-bottom: none;
}

.menu__item:first-child .menu__link::after {
  content: " ";
  border-bottom: 2px solid #edbfff;
  display: inline-block;
  width: 45px;
  position: absolute;
  top: 35px;
  left: 100px;
}

.header__menu:hover .menu__list {
  display: block;
  background-color: rgba(63,50,71,.85);
  border-radius: 8px;
  z-index: 10;
}

.menu__item:hover {
  border-bottom: 2px solid #edbfff;
  background-color: #2b2332;
}

.menu__item:first-child:hover {
  border-radius: 8px 8px 0 0;
  border-top: none;
}

.menu__item:last-child:hover {
  border-radius: 0 0 8px 8px;
}

.slider__list {
  width: 100%;
  margin: 0 auto;
}

.slide__content {
  font-family: "League Gothic", sans-serif;
  margin: 0 auto;
  padding-top: 135px;
  text-align: left;
  width: 66.5%;
  color: #fff;
}

.slide__heading {
  font-size: 36px;
}

.slide__subtitel {
  font-size: 18px;
  color: #edbfff;
}

.slide__description {
  display: none;
  color:#d6d4d7;
}

.button,
.button-blog {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.slider__button {
  padding: 82px 0 70px;
}

.slider__button .button__item {
  display: inline-block;
  list-style: none;
}

.slider__button .radio__label {
  display: block;
}

.slider__button .radio__label::before {
  display: block;
  content: "";
  border: 4px solid #3a3942;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  margin-right: 7px;
  background: #3a3942;
}

.slider__button .radio__btm {
  visibility: hidden;
}

.slider__button .radio__btm:checked~.radio__label::before {
  background: #fff;
}

.slider {
  position: relative;
}

.slider__link {
  display: block;
  position: absolute;
  width: 37px;
  height: 39px;
  background-image: url("../img/sprite_arrows.png");
  background-repeat: no-repeat;
}

.slider__link--prev {
  left: 0;
  top: 145px;
}

.slider__link--next {
  right: 0;
  top: 145px;
  background-position: -46px 0;
}

/*about*/
.about {
  background-image: -webkit-linear-gradient(#745083, #33263a);
  background-image: -o-linear-gradient(#745083, #33263a);
  background-image: linear-gradient(#745083, #33263a);
  color:#fff;
}

.about__container {
  width: 100%;
  margin: 0 auto;
  padding-top: 95px;
}

.lemma__wrapper {
  width: 64%;
  text-align: left;
  margin: 0 auto;
  position: relative;
}

.lemma__heading {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  font-weight: 300;
}

.lemma__icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: -2px;
  left: -38px;
  background-image: url('../img/sprites_header.png');
  background-repeat: no-repeat;
}

.lemma__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.lemma__link {
  font-family: "League Gothic", sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.lemma__label {
  padding: 24px 0 30px;
  text-align: right;
}

.lemma__label--middles {
  padding-bottom: 45px;
}

.lemma__label--latest {
  padding-bottom: 70px;
}

.lemma__link:hover {
  text-shadow: 0 0 9px rgba(255,255,255,.8);
}

/*main*/
.main {
  background-color: #f9f9f9;
}

.main__container {
  width: 100%;
  padding-top: 100px;
  margin: 0 auto;
}

.blog {
  color: #454545;
  width: 80.31%;
  text-align: left;
  margin: 0 auto;
  background-color: #fff;
}

.blog__name {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  width: 64%;
  margin-left: 24px;
  position: relative;
}

.blog__name::before {
  content: ' ';
  width: 50px;
  height: 50px;
  position: absolute;
  top: -5px;
  left: -52px;
  background-image: url('../img/sprite_1.png');
  background-repeat: no-repeat;
  background-position: -72px -7px;
}

.blog__start-here {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  color:#edbfff;
  width: 64%;
  margin-left: 24px;
}

.blog__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  width: 79%;
  margin-left: 24px;
  text-align: left;
}

.blog__button {
  width: 50%;
  padding: 60px 0 53px;
}

.blog__button .button-blog__item {
  display: inline-block;
  list-style: none;
}

.blog__button .radio-blog__label {
  display: block;
}

.blog__button .radio-blog__label::before {
  display: block;
  content: "";
  border: 4px solid #fff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  margin-right: 7px;
  background: #fff;
}

.blog__button .radio-blog__btm {
  visibility: hidden;
}

.radio-blog__btm:checked~.radio-blog__label::before {
  background: #5a5a5a;
}

.posts {
  width: 96%;
  color: #454545;
}

.posts__heading {
  font-family: "League Gothic", sans-serif;
  font-size: 30px;
  padding-bottom: 28px;
  margin-left: 5px
}

.posts__subtitel {
  font-family: "Open Sans Extrabold", sans-serif;
  font-size: 16px;
  padding-left: 60px;
  margin-left: 5px;
  position: relative;
}

.posts__subtitel::before {
  content: ' ';
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  left: 2px;
  background-image: url('../img/sprite_1.png');
  background-repeat: no-repeat;
  background-position: -150px -7px;
}

.posts__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  padding-left: 60px;
  margin-left: 5px;
  padding-bottom: 30px;
}

.list {
  font-family: "League Gothic", sans-serif;
  font-size: 30px;
  text-align: right;
  padding-bottom: 144px;
}

.list__link {
  text-decoration: none;
  color: #454545;
}

.list__text--screen-big {
  display: none;
}

.partners {
  width: 100%;
}

.partners__wrapper {
  max-width: 320px;
  text-align: justify;
  margin: 0 auto;
}

.partners__link {
  display: inline-block;
  margin: 0  30px 56px 30px;
}

.trademark {
  display: inline-block;
  width: 72px;
  height: 68px;
  background-image: url('../img/sprite_logo.png');
  background-repeat: no-repeat;
  background-position: -14px -10px;
}

.partners__bllabong {
  background-position: -14px -10px;
}

.partners__dg {
  background-position: -138px -10px;
}

.partners__logo3 {
  background-position: -249px -10px;
}

.partners__awsm {
  background-position: -367px -9px;
}

.partners__rvc {
  width: 106px;
  height: 68px;
  background-position: -474px -9px;
}

.partners__vonzipper {
  width: 85px;
  height: 68px;
  background-position: -630px -9px;
}

/*news*/
.news {
  display: none;
  background-color: #ececec;
}

/*footer*/
.footer {
  background-image: url('../img/background_footer.png');
  background-repeat: no-repeat;
}

.footer__menu {
  display: none;
}

.footer__designed {
  width: 100%;
  margin: 0 auto;
  padding: 43px 0 149px;
}

.footer__text {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.footer__text--bold {
  font-family: "Open Sans Extrabold", sans-serif;
  font-size: 12px;
}

@media(max-width: 479px) {
  .header,
  .about,
  .main,
  .news,
  .footer {
    min-width: 320px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  .header,
  .about,
  .main,
  .news,
  .footer {
    min-width: 480px;
  }

  /*header*/
  .header__menu-line {
    display: none;
  }

  .header-wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, .35);
    margin-top: 41px;
    height: 245px;
  }

  .slide__content {
    float: left;
    padding-top: 98px;
    margin-left: 35px;
  }

  .slide {
    position: relative;
  }

  .slide__link {
    width: 33%;
    height: 250px;
    background-image: url('../img/Iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    float: right;
    position: absolute;
    right: 35px;
    top: -5px;
  }

  .slider__list::after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .slider__link--prev {
    left: 0;
    top: 110px;
  }

  .slider__link--next {
    right: 0;
    top: 110px;
    background-position: -46px 0;
  }

  .slider__button {
    padding: 20px 0 60px;
  }

  /*about*/
  .about__container {
    width: 100%;
  }

  .lemma__wrapper {
    width: 87%;
    margin-left: 40px;
  }

  .lemma__text {
    width: 100%;
  }

  .lemma__text::after {
    content: ' ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam';
  }

  /*main*/
  .main__container {
    width: 100%;
  }

  .blog {
    width: 85%;
    background-color: #fff;
  }

  .blog__name,
  .blog__start-here {
    display: inline-block;
    width: 90px;
  }

  .blog__start-here {
    margin: 0;
  }

  .blog__text {
    width: 95%;
    margin-top: 25px;
  }

  .blog__text::after {
    content: ' lectus eu libero pellentesque pulvinar urna risus, mattis pulvinar bibendum in, venenatis quis neque. Mauris nec metus ultricies erat consequat dignissim non eu nisl.”';
  }

  .posts {
    width: 75%;
    margin-left: 55px;
  }

  .posts__subtitel::after {
    content: 'feugiat eget';
  }

  .posts__text::after {
    content: '2012';
  }

  .list {
    padding-bottom: 90px;
  }

  .partners {
    width: 100%;
    border-top: 1px solid #e6e6e6;
    background-color: #fff;
    padding-top: 38px;
  }

  .partners {
    width: 100%;
    padding-top: 38px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
  }
  .partners__wrapper {
    max-width: 480px;
    margin: 0 auto;
    text-align: justify;
  }

  .partners::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .partners__link {
    margin: 0 69px 30px 0;
    display: inline-block;
  }

  /*news*/
  .news {
    display: block;
    width: 100%;
  }

  .news__logo,
  .news__content,
  .news__comments {
    display: none;
  }

  .news__categories {
    padding: 82px 0 17px;
  }

  .categories__section {
    width: 100%;
    padding-left: 5px;
    margin-bottom: 67px;
  }

  .categories__titel {
    font-family: "League Gothic", sans-serif;
    font-size: 24px;
  }

  .categories__text {
    font-family: "Open Sans", sans-serif;
    font-size: 15.799px;
    margin-top: 20px;
  }

  .categories__text::after {
    content: 'pulvinar. Quisque urna risus, mattis pulvinar biben';
  }

  /*footer*/
  .footer {
    width: 100%;
  }

  .footer__menu {
    display: block;
    margin: 0 auto;
    width: 96%;
    padding-top: 50px;
  }

  .menu-line__list {
    text-align: justify;
    font-size: 0;
  }

  .menu-line__list::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .menu-line__item {
    display: inline-block;
    list-style: none;
  }

  .menu-line__link {
    font-family: "League Gothic", sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
  }

  .menu-line__link:hover  {
    text-shadow: 0 0 25px rgba(255,255,255,.8);
    text-decoration: underline;
  }

  .footer__designed {
    padding: 43px 0 90px;
  }
} /*min480 and max 767px*/

@media (min-width: 768px) and (max-width: 959px) {
  .header,
  .about,
  .main,
  .news,
  .footer {
    min-width: 768px;
  }

  /*header*/
  .header__container {
    width: 100%;
  }

  .header__logo {
    width: 155px;
    margin: 0 0 0 20px;
    padding-top: 48px;
  }

  .header__menu {
    display: none;
  }

  .header__menu-line {
    display: block;
    margin-top: 40px;
    margin-bottom: 80px;
    width: 85%;
  }

  .header__menu-line .menu-line__list {
    text-align: justify;
    font-size: 0;
    margin: 0 0 0 20px;
  }

  .header__menu-line .menu-line__list::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .menu-line__link {
    font-size: 24px;
  }

  .header__menu-line .menu-line__link:hover {
    text-decoration: none;
    border-bottom: 2px solid #edbfff;
  }

  .slider__list {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, .35);
    margin-top: 41px;
  }

  .slide__content {
    float: left;
    padding-top: 98px;
    margin-left: 45px;
    width: 42%;
  }

  .slide {
    position: relative;
  }

  .slide__link {
    width: 27%;
    height: 406px;
    background-image: url('../img/Iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 45px;
    top: -10px;
  }

  .slider__list::after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .slide__heading {
    font-size: 48px;
  }

  .slide__subtitel {
    font-size: 24px;
  }

  .slide__description {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  .slider__link--prev {
    left: 0;
    top: 150px;
  }

  .slider__link--next {
    right: 0;
    top: 150px;
    background-position: -46px 0;
  }

  .button {
    width: 82%;
    margin: 0;
    text-align: right;
  }

  .slider__button {
    padding: 35px 0 100px;
  }

  /*about*/
  .about__container {
    padding-top: 70px;
    width: 100%;
    text-align: center;
    border-top: 1px solid #12191f;
    border-bottom: 1px solid #12191f;
  }

  .lemma__wrapper {
    display: inline-block;
    width: 23%;
  }

  .lemma__wrapper--wrench,
  .lemma__wrapper--sms {
    margin-right: 70px;
  }

  .lemma__text::after {
    content: ' ultrices posuere. Pellentesque vel lacus';
  }

  /*main*/
  .main__container {
    width: 100%;
  }

  .main__section {
    width: 100%;
    border-bottom: 1px solid #efefef;
  }

  .main__blog {
    float: left;
    width: 40%;
  }

  .posts__updates {
    float:right;
  }

  .main__section::after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .blog {
    width: 100%;
    margin-left: 32px;
  }

  .blog__text {
    width: 87%;
  }

  .blog__text::after {
    content: ' lectus eu libero pellentesque pulvinar';
  }

  .blog__button {
    padding: 75px 0 75px;
    width: 100%;
    text-align: center;
  }

  .posts {
    width: 50%;
  }

  .posts__subtitel::after {
    content: ' feugiat eget';
  }

  .posts__text::after {
    content: '2012';
  }

  .list {
    padding-bottom: 94px;
  }

  .partners {
    width: 100%;
    padding-top: 28px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
  }

  .partners__wrapper {
    max-width: 100%;
    text-align: justify;
    margin: 0 auto;
  }

  .partners__wrapper::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .partners__link {
    margin: 0 0 30px 0;
    display: inline-block;
  }

  /*news*/
  .news {
    display: block;
    width: 100%;
  }

  .news__logo,
  .news__content,
  .news__comments {
    display: none;
  }

  .news__categories {
    padding: 82px 0 17px;
  }

  .categories__section {
    display: inline-block;
    max-width: 31%;
    margin-bottom: 100px;
  }

  .categories__section::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .categories__section--last {
    margin: 0;
  }

  .categories__titel {
    font-family: "League Gothic", sans-serif;
    font-size: 24px;
  }

  .categories__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 20px;
  }

  /*footer*/
  .footer {
    width: 100%;
  }

  .footer__menu {
    display: inline-block;
    width: 81%;
    padding-top: 50px;
  }

  .menu-line__list {
    text-align: justify;
    font-size: 0;
  }

  .menu-line__list::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .menu-line__item {
    display: inline-block;
    list-style: none;
  }

  .menu-line__link {
    font-family: "League Gothic", sans-serif;
    color: #fff;
    text-decoration: none;
  }

  .footer__menu .menu-line__link {
    font-size: 24px;
    font-weight: 300;
  }

  .menu-line__link:hover  {
    text-shadow: 0 0 25px rgba(255,255,255,.8);
    text-decoration: underline;
  }

  .footer__designed {
    width: 100%;
    padding: 40px 0 85px;
  }

  .footer__text {
    text-align: right;
  }
} /*@media (min-width:768px) and (max-width:959px)*/

@media (min-width: 960px)  {
  .header,
  .about,
  .main,
  .news,
  .footer {
    width: 100%;
  }

  /*header*/
  .header__container {
    width: 960px;
    margin: 0 auto;
  }

  .header__logo {
    width: 155px;
    margin: 0 0 0 35px;
    padding-top: 48px;
    display: inline-block;
  }

  .header__menu {
    display: none;
  }

  .header__menu-line {
    display: block;
    margin-top: 67px;
    float: right;
    width: 64%;
  }

  .header__menu-line .menu-line__list {
    text-align: justify;
    font-size: 0;
  }

  .header__menu-line .menu-line__list::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .menu-line__link {
    font-family: "League Gothic", sans-serif;
    font-size: 24px;
    color: #fff;
    text-decoration: none;
  }

  .header__container::after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .header__menu-line .menu-line__link:hover {
    text-decoration: none;
    border-bottom: 2px solid #edbfff;
  }

  .header__slider {
    width: 960px;
    margin: 0 auto;
  }

  .header-wrapper {
    width: 100%;
    height: 400px;
    background-color: rgba(0, 0, 0, .35);
    margin-top: 170px;
  }

  .slide__content {
    float: left;
    padding-top: 98px;
    margin-left: 45px;
    width: 51.5%;
  }

  .slide__heading {
    font-size: 60px;
  }

  .slide__subtitel {
    font-size: 32px;
  }

  .slide__subtitel::after {
    content: 'TRUE';
  }

  .slide__description {
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  .slide__description::after {
    content: 'at volutpat. Morbi elementum euismod lacus id semper. In odio nunc, imperdiet eget aliquam quis, euismod id lectus. Nulla interdum arcu et felis aliquam a tempus lectus lobortis.';
  }

  .slide {
    position: relative;
  }

  .slide__link {
    width: 27%;
    height: 406px;
    background-image: url('../img/Iphone.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    right: 45px;
    top: -10px;
  }

  .slider__list::after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .slider {
    position: static;
  }

  .header-wrapper {
    position: relative;
  }

  .slider__link--prev {
    left: 10px;
    top: 170px;
  }

  .slider__link--next {
    right: 10px;
    top: 170px;
    background-position: -46px 0;
  }

  .slider__button {
    max-width: 85%;
    margin: 0;
    text-align: right;
  }

  .slider__button {
    padding: 95px 0 55px;
  }

  /*about*/
  .about__container {
    padding-top: 70px;
    width: 960px;
    text-align: center;
    border-top: 1px solid #12191f;
    border-bottom: 1px solid #12191f;
  }

  .lemma__wrapper {
    display: inline-block;
    width: 25%;
  }

  .lemma__wrapper--wrench {
    margin-left: 40px;
  }

  .lemma__wrapper--wrench,
  .lemma__wrapper--sms {
    margin-right: 80px;
  }

  .lemma__text::after {
    content: ' ultrices posuere. Pellentesque vel lacus eget nisi convallis auctor. Nam';
  }

  .lemma__icon--sms {
    background-position: -31px 0;
  }

  .lemma__icon--note {
    background-position: -63px 0;
  }

  /*main*/
  .main__container {
  width: 960px;
  }

  .main__section {
    width: 100%;
  }

  .main__blog {
    float: left;
    width: 45%;
  }

  .posts__updates {
    float:right;
  }

  .main__section::after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
  }

  .blog {
    width: 100%;
    margin-left: 32px;
  }

  .blog__name,
  .blog__start-here {
    display: inline-block;
    width: 90px;
  }

  .blog__start-here {
    margin: 0;
  }

  .blog__text {
    width:87%;
    background-color: #fff;
  }

  .blog__text::after {
    content: ' lectus eu libero pellentesque pulvinar urna risus, mattis pulvinar bibendum in, venenatis quis neque. Mauris nec metus ultricies erat consequat dignissim non eu nisl.”';
  }

  .blog__button {
    width: 100%;
    padding: 75px 0 75px;
    text-align: center;
  }

  .posts {
    width: 50%;
  }

  .posts__subtitel::after {
    content: 'feugiat eget';
  }

  .posts__text--up::after {
    content: '2012  in Recent News';
  }

  .posts__text--middle::after {
    content: '2012  in Category';
  }

  .posts__text--down::after {
    content: '2012  in Blog Updates';
  }

  .list__text--screen-small {
    display: none;
  }

  .list__text--screen-big {
    display: block;
  }

  .list {
    padding-bottom: 94px;
  }

  .partners {
    width: 100%;
    padding-top: 28px;
    border-top: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
  }

  .partners__wrapper {
    max-width: 960px;
    text-align: justify;
    margin: 0 auto;
  }

  .partners__wrapper::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .partners__link {
    margin-bottom: 30px;
    display: inline-block;
  }

  /*news*/
  .news {
    display: block;
    width: 100%;
    padding: 100px 0 100px;
  }

  .news__container {
    width: 960px;
    margin: 0 auto;
  }

  .news__content,
  .news__comments,
  .news__categories {
    width: 30%;
  }

  .news__logo,
  .news__content,
  .news__comments,
  .news__categories {
    display: inline-table;
    text-align: left;
    vertical-align: top;
  }

  .news__logo {
    width: 120px;
    height: 35px;
    background-image: url('../img/logo_small.png');
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0;
  }

  .news__copyright {
    font-family: 'Georgia', sans-serif;
    font-style: italic;
    font-size: 16px;
    color: #c5c5c5;
    margin: 16px 0 8px;
  }

  .news__text {
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
  }

  .comments__titel {
    font-family: "League Gothic", sans-serif;
    font-size: 30px;
  }

  .comments__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 20px;
  }

  .news__content,
  .news__comments  {
    margin-right: 30px;
  }

  .news__categories {
    padding: 0;
  }

  .categories__section {
    display: inline-block;
  }

  .categories__section--last {
    margin: 0;
  }

  .categories__titel {
    font-family: "League Gothic", sans-serif;
    font-size: 30px;
  }

  .categories__text {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    margin-top: 20px
  }

  .categories__text::after {
    content: 'pulvinar. Quisque urna risus, mattis pulvinar bibendum in, venenatis quis';
  }

  .categories__section--middle,
  .categories__section--last {
    display: none;
  }

  /*footer*/
  .footer {
    width: 100%;
    height: 115px;
  }

  .footer__container {
    width: 960px;
    margin: 0 auto;
  }

  .footer-container::after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
  }

  .footer__menu {
    display: inline-block;
    width: 65%;
    padding: 30px 0 30px;
  }

  .menu-line__list {
    text-align: justify;
    font-size: 0;
  }
  .menu-line__list::after {
    display: inline-block;
    content: '';
    height: 0;
    width: 100%;
  }

  .menu-line__item {
    display: inline-block;
    list-style: none;
  }

  .menu-line__link:hover  {
    text-shadow: 0 0 25px rgba(255,255,255,.8);
    text-decoration: underline;
  }

  .footer__designed {
    display: inline-table;
    width: 16%;
    padding: 34px 0 32px;
    float: right;
  }
}
