* {
  margin: 0;
  padding: 0;
}

.body {
  width: 100%;
}
/*HEADER*/

.primary-header {
  background-image: url('../img/main_img.png');
  background-repeat: no-repeat;

}

.header {
  width: 320px;
  margin: 0 auto;
}

.logo {
  font-family: "League Gothic", sans-serif;
  font-size: 48px;
  color:#fff;
  text-align: center;
  padding-top: 70px;
}

.logo-er {
  /*color:#63456f;*/
  text-shadow: none;
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(#745083, #33263a);
  background-image: -o-linear-gradient(transparent, transparent);
}

.menu {
display: none;
}

.menu-drop {
  text-align: center;
  list-style: none;
  margin-top: 41px;
}

.menu-drop__link {
  text-decoration: none;
  color:#fff;
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
}

.menu-drop__home {
  position: relative;
}

.menu-drop__list {
  position: absolut;
  display: none;
}

.menu-drop__home:hover .menu-drop__list {
display: block;
background-color: #3b2e43;
}

.menu-drop__home-link {
  display: block;
  color:#fff;
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
}

.menu-drop__home-link:hover {
  background-color: #3b2e43;
}

.menu-drop__item {
  display:block;
}

.loren__header {
  font-family: "League Gothic", sans-serif;
  font-size: 36px;
  text-align: center;
  margin-top: 135px;
  color: #fff;
}

.loren__cometru {
  font-family: "League Gothic", sans-serif;
  font-size: 18px;
  text-align: center;
  margin-top: 11px;
  color: #fff;
}

.loren__cometru960px {
  display: none;
}

.loren__text {
  display: none;
}

.pages-points {
  text-align: center;
  margin-top: 82px;
  padding-bottom: 70px;
}

.pages-points__inner {
  display: inline-block;
  text-align: center;
}

.pages-points__link {
  display: block;
  width: 15px;
  height: 15px;
  background-color: #69646f;
  border-radius:50%;
}

.pages-points__inner--active{
  width: 15px;
  height: 15px;
  background-color: #69646f;
  border-radius:50%;
}

.pages-points--active {
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius:50%;
}

/*ABOUT*/
.primary-about {
background-image: linear-gradient(#745083, #33263a);
}

.section-total {
  padding-top: 73px;
}

.about-company {
  width: 360px;
  margin: 0 auto;
}

.about-company__header {
  font-family: "League Gothic", sans-serif;
  font-size: 24px;
  color: #fff;
}

.about-company__text {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #fff;
  padding-bottom: 24px;
}

.about-company__link {
  font-family: "League Gothic", sans-serif;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
}

.about-company__read-more {
text-align: right;
}

.about-company--first-block {
  padding-bottom: 29px;
}

.about-company--second-block {
  padding-bottom: 45px;
}

.about-company--third-block {
  padding-bottom: 69px;
}

.about-company__text768px,
.about-company__text960px {
  display:none;
}

.about-company__link:hover {
  text-shadow: 0 0 9px rgba(255,255,255,.8);
}
