& {
    background-image: url(../images/main_pic.png);
    background-repeat: no-repeat;
    background-position: center, top;
    background-size: cover;
    background-color: $bg_main-pic;
    height: rem(700);
    padding-top: rem(50);

    .container {
        display: flex;
        justify-content:  space-between;
        line-height: rem(35);
        padding: 0 rem(50) 0;

        &__caption {

            a {
            text-decoration: none;
            color: $white;
            font: rem(20) $montserratBold;
            }
        }

        &__signup {

            .login__btn {
                text-decoration: none;
                color: $white;
                margin-right: rem(20);
                font-family: $montserratBold;
                font-size: rem(14);
                text-align: center;
            }

            .signup__btn {
                text-decoration: none;
                color: $white;
                padding: rem(7) rem(20);
                border: rem(2) solid $white;
                font-family: $montserratBold;
                font-size: rem(14);
                border-radius: rem(19);
            }
        }
    }

    .wrapper {
        margin: 0 auto;
        width: 63.15%;
        padding-top: rem(170);

        &__title {
            color: $white;
            font: rem(52) $montserratBold;
            text-align: center;
            text-transform: uppercase;
            padding-bottom: rem(40);
            line-height: rem(63);
        }

        &__headline {
            color:$white;
            font: rem(24) $robotoLight;
            text-align: center;
            padding-bottom: rem(40);
        }

        &__btn {
        display: block;
        padding: rem(15) rem(47);
        margin: 0 auto;
        font: 14px $montserratBold;
        border-radius: rem(22);
        background-color: $red;
        outline: none;
        border: 0;
        color: $white;
        cursor: pointer;
        }
    }
}    
