//Variables color 
$black: #333333;
$black-light: #999999;
$white: #fff;
$gray-light: #cccccc;
$red: #ff4e50;
$red-logo: #ff4e4f;
$yellow: #ffa507;
$green: #1cd7ad;
$blue: #4e73db;
$bg_main-pic: rgba(23,27,31,.75);

//Variables fonts
$montserratBold:'MontserratBold', 'Arial', sans-serif, 'Tahoma', sans-serif;
$robotoLight:'RobotoLight', 'Arial', sans-serif, 'Tahoma', sans-serif;
$montserratRegular:'MontserratRegular', 'Arial', sans-serif, 'Tahoma', sans-serif;

//MIXINS
@mixin clearfix {
            &:after {
              display: block;
              content: '';
              clear: both;
              visibility: hidden;
              height: 0;
            }
}

@mixin text {
  font-family: $robotoLight;
  font-size: rem(14);
  line-height: 18px;
}

//FUNCTIONS
@function rem($px) {
  $rems: $px / 16;
  @return #{$rems}rem;
}

//Styles
h2 {
    font-family: $montserratBold;
    font-size: rem(22);
}


h3 {
  font-family: $montserratBold;
  font-size: rem(24);
  line-height: rem(30);
}

h4,
.footer__link a {
    font-family: $montserratBold;
    font-size: rem(14);
}

button {
    border: none;
    outline: none;
}

body {
  overflow-x: hidden;
  width: 100%;
}

